page-home {

    .hp-main-vault-icon{
        z-index: -1;
        height: 220px;
        background-image: URL('../../Assets/imgs/Vault-Logo-850x500.png');
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .hp-main-color{
        z-index: 1;
        background-color: #ffea00;
        box-shadow: 0px 2px 10px #000;
        color:#000;
    }

    .hp-main-second-pannel{
        z-index: -1;
        padding: 12px 0;
        background-image: URL('../../Assets/imgs/hp-main-second-pannel.png');
        background-size: 100%;
        background-position: center left;
        background-repeat: no-repeat;
        color: #fff;
    }

    .hp-main-third-pannel, .hp-main-third-pannel h5{
        padding-bottom: 5px;
        background-color: #404042;
        color:white;
        font-size: 120%;
        font-weight: 600;
    }
    .hp-main-third-pannel{
        z-index: 1;
        padding-bottom: 25px;
        box-shadow: 0 2px 10px #000;
    }
    .hp-main-third-pannel p{
        margin: 0 3px;
    }

    .hp-main-footer{
        z-index: -1;
        background-color: #000000;
    }
    .hp-main-footer button{
        margin: 10px 0 40px 0;
    }
    .hp-main-footer img{
        margin: 1em auto;
    }

}
