<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pagetitle">Loyalty Card</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-grid class="cl-main">

    <ion-row text-center>
      <ion-col></ion-col>
      <ion-col col-10>
        <h2>Vault Loyalty Scheme</h2>
        <h3>Build up points and earn your self a free coffee!</h3>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="cl-content">

    <ion-row>
      <ion-col></ion-col>
      <ion-col col-10 text-center>
        <h3>Come here often?</h3>
        <h4>Make sure to sign up in store to be able to get points.</h4>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col col-10 text-center>
        <h3>Customer Details</h3>
        <ion-card *ngFor="let c of customer">
          <ion-card-content text-center class="cusdetails">
            <p>{{ c.CustomerName }}'s Current Balance</p>
            <p>Current Loyalty Points: {{ c.CustomerLoyaltyPoints }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col col-10>
        <div text-center>
          <p>Click bellow now to add points to your Loyalty card.</p>
        </div>
        <button ion-button full icon-left class="button-color" (click)="scanCode()" color="">
          <ion-icon name="qr-scanner"></ion-icon>Scan Barcode Now</button>
        <ion-card *ngIf="scannedCode">
          <ion-card-content class="result">
            <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
            <p>Recieved Points: {{ scannedCode }}</p>
            <p>Updated Points: {{ setcusloyaltypoints }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>