<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pagetitle">Wallet</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-grid class="cl-main">

    <ion-row text-center>
      <ion-col></ion-col>
      <ion-col col-9>
        <h2>Your Wallet</h2>
        <h3>Build up points and earn your self a free coffee!</h3>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="cl-content">

    <ion-row>
      <ion-col></ion-col>
      <ion-col col-10 text-center>
        <h4>Visit Often?</h4>
        <h3>Make sure to sign up in store, to start adding points to your wallet.</h3>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col col-10 text-center>
        <h4>Customer Details</h4>
        <ion-card *ngFor="let c of customer">
          <ion-card-content text-center class="cusdetails">
            <p>{{ c.CustomerName }}'s Loyalty Points: {{ c.CustomerLoyaltyPoints }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col col-8>
        <div text-center>
          <h4>Click below to add points to your Wallet.</h4>
        </div>
        <button ion-button full icon-left class="button-color" (click)="scanCode()" color="">
          <ion-icon name="qr-scanner"></ion-icon>Scan Barcode Now</button>
        <ion-card *ngIf="scannedCode">
          <ion-card-content class="result">
            <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
            <p>Recieved Points: {{ scannedCode }}</p>
            <p>Updated Points: {{ setcusloyaltypoints }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>