page-customer {

    .cl-main{
        background-image: URL("../../assets/imgs/main-image-custome-page.jpg");
        background-size: 130%;
        background-position: center bottom;
        background-repeat: no-repeat;
        height: 270px;
    }
    .cl-main h2{
        padding-top: 30px;
        font-size: 2em;
        font-weight: 700;
        text-shadow: 0 1px 10px #000;
    }    
    .cl-main h3{
        padding-top: 25px;
        font-size: 1.5em;
        font-weight: 600;
        text-shadow: 0 2px 10px #000;
    }
    .cl-main h4{
        padding-top: 10px;
        font-size: 1em;
    }

    .cl-content{
        background-color: #ffea00;
        color: #000;
        box-shadow: 0px 2px 10px #000;
    }
    .cl-content h4{
        font-size: 150%;
        font-weight: 700;
    }
    .cl-content p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}
