// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.content, .toolbar-background, .menu-list-br{
    background-color: #232323;
    color: white;
}
.pagetitle .toolbar-title, .toolbar-content .toolbar-title{
    color: white;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: white;
}
.img-loaded{
    background: none;
}
.menu-list-br.item .item-inner .input-wrapper{
    margin: 12px 5px;
}
.item-md.item-block .item-inner{
    border-bottom: 1px groove rgb(156, 156, 156);
    padding-left: 20px;
}
.item-md{
    padding: 0;
    margin: 0;
}
.item-md.activated{
    background-color: #505050;
}
.button-color{
    background-color: #ffea00;
    color: #000;
}
.button-color:hover{
    background-color: #fff36e;
}